<div>
  <svg width="34" height="41" viewBox="0 0 34 41" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M1 21.3693C1 20.3325 1.39248 19.2291 1.9763 18.1477C2.56797 17.0518 3.40181 15.8955 4.3892 14.7314C6.36481 12.4022 9.02526 9.96001 11.8093 7.80142C14.5926 5.64341 17.5382 3.73871 20.098 2.50274C21.3755 1.88591 22.5902 1.41932 23.6613 1.18029C24.6973 0.949096 25.7686 0.891442 26.6353 1.30305C28.2945 2.091 29.5769 3.05729 30.5372 4.27801C31.4969 5.4981 32.092 6.91783 32.4561 8.54928C33.1439 11.6303 33.0361 15.6479 32.8979 20.8009C32.8926 20.9976 32.8873 21.1959 32.882 21.3959C32.855 22.4096 32.8347 23.3742 32.8156 24.2889C32.7832 25.8325 32.7538 27.2339 32.7 28.4887C32.6142 30.4911 32.4638 32.2118 32.1181 33.6693C31.7691 35.1404 31.2105 36.3908 30.2784 37.4163C29.3471 38.4408 28.1099 39.1673 26.526 39.7048C24.605 40.3567 22.019 39.8613 19.4199 38.8719C16.761 37.8597 13.8574 36.24 11.1719 34.3402C8.4868 32.4406 5.97982 30.2326 4.13226 28.0214C2.3201 25.8524 1 23.5121 1 21.3693Z"
      fill="#C9C7C7"
      stroke="#292D32"
      stroke-width="2"></path>
    <path
      d="M2 21.2754C2 15.5725 18.4361 2.28527 22.172 4.18406C27.341 6.81125 27.1459 11.4637 26.9019 21.2754C26.658 31.087 27.0847 34.9992 22.1706 36.784C16.942 38.6831 2 27.606 2 21.2754Z"
      fill="#E6EAEE"></path>
    <ellipse
      cx="11.382"
      cy="13.0413"
      rx="1.12952"
      ry="9.07337"
      transform="rotate(46.7338 11.382 13.0413)"
      fill="white"></ellipse>
  </svg>
</div>
