<div>
  <svg
    aria-label="download arrow svg icon"
    width="15"
    height="19"
    viewBox="0 0 18 19"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M12.9226 10.4227L9.58928 13.756C9.26384 14.0814 8.7362 14.0814 8.41077 13.756L5.07743 10.4227C4.75199 10.0972 4.75199 9.5696 5.07743 9.24416C5.40287 8.91872 5.93051 8.91872 6.25594 9.24416L8.16669 11.1549V1.50008C8.16669 1.03984 8.53978 0.666748 9.00002 0.666748C9.46026 0.666748 9.83335 1.03984 9.83335 1.50008V11.1549L11.7441 9.24416C12.0695 8.91872 12.5972 8.91872 12.9226 9.24416C13.248 9.5696 13.248 10.0972 12.9226 10.4227Z"
      fill="black"></path>
    <path
      d="M2.33335 13.5834C2.33335 13.1232 1.96026 12.7501 1.50002 12.7501C1.03978 12.7501 0.666687 13.1232 0.666687 13.5834V14.8334C0.666687 16.6744 2.15907 18.1667 4.00002 18.1667H14C15.841 18.1667 17.3334 16.6744 17.3334 14.8334V13.5834C17.3334 13.1232 16.9603 12.7501 16.5 12.7501C16.0398 12.7501 15.6667 13.1232 15.6667 13.5834V14.8334C15.6667 15.7539 14.9205 16.5001 14 16.5001H4.00002C3.07955 16.5001 2.33335 15.7539 2.33335 14.8334V13.5834Z"
      fill="black"></path>
  </svg>
</div>
