<!-- <div class="">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="10"
    height="15"
    viewBox="0 0 15 15"
    fill="currentColor"
    aria-label="arrow pointing top-right svg icon"
  >
    <path
      d="M1 13.75L13.5 1.25M13.5 1.25L4.125 1.25M13.5 1.25V10.625"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
  </svg>
</div> -->
<svg width="24" height="24" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path
    d="M29 15.6109C29 14.757 28.6062 13.9015 28.0903 13.1266C27.5601 12.3303 26.8213 11.5019 25.9594 10.6781C24.2332 9.02793 21.9166 7.30472 19.4998 5.7854C17.0819 4.26539 14.5244 2.92462 12.3028 2.05489C11.1936 1.62065 10.1414 1.29321 9.21616 1.1258C8.32317 0.964213 7.40826 0.924398 6.66184 1.2118C5.22584 1.76473 4.093 2.45064 3.23124 3.3389C2.36231 4.23454 1.81797 5.28544 1.4864 6.48986C0.872875 8.71843 0.96854 11.6024 1.08714 15.1777C1.09225 15.3317 1.0974 15.4871 1.10254 15.6437C1.12566 16.3481 1.14312 17.0226 1.15973 17.6644C1.18793 18.7542 1.2137 19.7496 1.26059 20.6364C1.3354 22.0512 1.4675 23.3006 1.78118 24.3727C2.10165 25.4681 2.61849 26.4032 3.46771 27.1607C4.30341 27.9062 5.3929 28.4186 6.75733 28.794C8.40719 29.248 10.6328 28.9053 12.8893 28.2088C15.1942 27.4973 17.7144 26.3579 20.048 25.0193C22.379 23.6822 24.565 22.1229 26.1834 20.5524C26.9923 19.7673 27.682 18.9579 28.1751 18.1506C28.6633 17.3513 29 16.4865 29 15.6109Z"
    fill="#F49652"
    stroke="white"
    stroke-width="2"></path>
</svg>
