---
import Linkarrow from "../../public/svgIcon/linkarrow.astro";

interface Props {
  title: string;
  slug: string;
  videolink: string;
}

const { title, videolink, slug } = Astro.props;
---

<a class="flex group flex-col gap-2" href={`/projects/${slug}`}>
  <div class="h-full w-full border overflow-hidden rounded-[10px]">
    <!-- <Image
      src={videolink}
      height={100}
      width={400}
      alt={"hello"}
      
    /> -->
    <video
      autoplay
      loop
      muted
      playsinline
      class="object-fit h-full w-full rounded-[10px] overflow-hidden [transform:_scale(1)] group-hover:[transform:_scale(1.1)] [transition:_transform_300ms_ease-in-out] [transform-origin:40%_50%]"
    >
      <source src={videolink} />
    </video>
  </div>
  <div class="flex flex-row items-center gap-2">
    <h3 class="text-[#7b7b7b]">{title}</h3>
    <span><Linkarrow /></span>
  </div>
</a>
