---
import ClientRouter from "astro/components/ClientRouter.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Olajide seun porfolio site" />
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favcon.svg" /> -->
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com" /> -->
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin /> -->
    <!-- <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Jua&display=swap"
      rel="stylesheet"
    /> -->
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com" /> -->
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin /> -->
    <!-- <link
      rel="preload"
      as="font"
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Jua&display=swap"
      rel="stylesheet"
    /> -->
    <meta name="generator" content="olajide seun's portfolio" />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --primary-color: #1a1a1a;
    --font-color: #676767;
    --bg-color: #fff;
  }

  [data-theme="dark"] {
    --primary-color: #676767;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #1e1e1e;
    --heading-color: #818cab;
  }

  body {
    background-color: var(--bg-color);
    color: var(--font-color);

    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-display: swap;

    font-weight: 400;
    font-style: normal;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--primary-color);
  }
</style>
